[Unit]
Description=dotoold Daemon Service
After=graphical-session.target

[Service]
ExecStart=/usr/bin/dotoold
Restart=on-failure

[Install]
WantedBy=graphical-session.target

